/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(''),
       url('../fonts/roboto-v30-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/roboto-v30-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-family: "Roboto";
  font-size: 16px;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

header{
  margin-bottom: 120px;
}

.container {
  max-width: 1185px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

nav.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 8px 0; */
}

.nav-logo-img {
  width: 130px;
}

.nav-list {
  display: flex;
  max-width: 308px;
  width: 100%;
  justify-content: space-between;
}
.nav-item:nth-child(1):hover{
  background-color: #0AD5F5;
  color: #fff;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  transition: color 0.270s ease;
}

.nav-item-text{
  font-size: 14px;
  padding-left: 5px;
  font-weight: 500;
}

.nav-item-call{
  padding-left: 15px;
}

.nav-item-number {
  display: block;
  color: #0FB8D3;
  font-size: 14px;
  line-height: 20px;
}

.intro-title{
  font-size: 33px;
  font-family: "Roboto";
  text-align: center;
  font-weight: 700;
  margin-bottom: 38px;
}

.intro-list{
  display: flex;
  max-width: 220px;
  width: 100%;
  margin: 0 auto 40px;
  justify-content: space-between;
}

.intro-item-link{
  color: #000;
  font-family: "Roboto";
}

.intro-item-link-active{
  color: #0FB8D3;
}

.intro-item-link:hover{
  color: #0FB8D3;
}